body {
    margin: 0;
    height: calc(100vh + 10px);
}

/* .modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  } */
         
.gif {
    /* height: 200px; */
    /* width:100%; */
    /* max-width: 200px; */
    cursor: pointer;
    object-fit: scale-down;
}